.hot-keyword-social-wrapper {
  .keyword-social-wrapper {
    margin-bottom: 20px;
    .keyword {
      color: rgb(128, 0, 128);
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
    }
  }
}
