.hot-keyword-social-wrapper {
  .keyword-social-wrapper {
    margin-bottom: 20px;
    .keyword {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      color: rgb(156, 60, 144);
    }
  }
}
