.mv-rank-weekly-wrapper {
  .header-mv-rank-wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 20px !important;
    font-weight: 600;
    color: rgb(156, 60, 144);
    margin-bottom: 25px;
  }
}
