.song-rank-weekly-wrapper .song-rank-colection-item-wrapper {
  &-inner {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid whitesmoke;
  }
}
